/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--cor-botao-rolagem) var(--cor-fundo-rolagem);
  }
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--cor-fundo-rolagem);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--cor-botao-rolagem);
}